/*reset*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

input {
    border: none;
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    background: none;
}

input:focus,
input.editable {
    outline: none;
    border-bottom: solid 2px black;
}

.cardTitle {
    font-size: 150%;
}
