/*reset*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.mainWrapper {
    padding: 1em;
}

input {
    border: none;
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    background: none;
}

input:focus,
input.editable {
    outline: none;
    border-bottom: solid 2px black;
}

:root {
    --currency-width: 3em;
}

.sectionTitle {
    margin: 2em 0 1em;
}

.sectionSubtitle {
    font-size: 110%;
    margin: 1em 0 0.5em;
}

.cardTitle {
    font-size: 150%;
}

.timerBox {
    display: flex;
    align-items: center;
}

.timer {
    padding: 1em;
}

.row {
    margin-bottom: 1em;
}

.titleBar {
    display: flex;
    justify-content: space-between;
}

.titleBar input {
    width: calc(100% - 8rem);
}

.timeEntry-details {
    padding: 1em;
}

.chipWrapper {
    display: flex;
    flex-wrap: wrap;
}

.chip {
    margin-right: 0.5em !important;
}

.hourlyRate {
    max-width: 8rem;
}

.card {
    margin: 0 0 1em 0;
}

.cardClientName {
    margin-top: 1em;
}

.idWrapper {
    display: inline-block;
    border-radius: 1em;
    background-color: grey;
    color: white;
    margin-right: 0.5em;
    font-size: 50%;
    padding: 0;
    width: 5em;
    height: 2em;
    line-height: 2em;
    text-align: center;
}

.backToWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editableTextArea {
    width: 100%;
    max-width: 70em;
    border: none;
}

.billCardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editableText {
    border-bottom: solid 1px lightgray;
}

.appbar h1 {
    cursor: pointer;
}

.optionsWrapper {
    padding: 1em;
}

.currencyField {
    width: var(--currency-width);
}

.hourlyRateField {
    width: calc(100% - var(--currency-width));
}

@media screen and (min-width: 30em) {
    .cardsWrapper {
        display: flex;
        flex-wrap: wrap;
    }
    
    .card {
        margin: 0 1em 1em 0;
    }

    .tabContent {
        padding: 1em;
    }
}

@media print {
    @page 
    {
        size: auto;   /* auto is the initial value */
        margin: 0mm;  /* this affects the margin in the printer settings */
    }

    .hideInPrint,
    .hideInPrint * {
        display: none !important;
    }

    .billText {
        border: none;
        appearance: none;
        margin: 5cm 3cm 4cm;
        font-size: 14px;
        height: calc(100vh - 9cm) !important;
    }
}